---
apiVersion: v1
clusters:
- cluster:
    server: ${aws_eks_cluster.eks_cluster.endpoint}
    certificate-authority-data: ${aws_eks_cluster.eks_cluster.certificate_authority.0.data}
  name: ${aws_eks_cluster.eks_cluster.arn}
contexts:
- context:
    cluster: ${aws_eks_cluster.eks_cluster.arn}
    namespace: so1
    user: ${aws_eks_cluster.eks_cluster.arn}
  name: ${aws_eks_cluster.eks_cluster.arn}
current-context: ${aws_eks_cluster.eks_cluster.arn}
kind: Config
preferences: {}
users:
- name: ${aws_eks_cluster.eks_cluster.arn}
  user:
    as-user-extra: {}
    token: ${github service account token}
